[Unit]
Description=Monthly full PBS verification

[Timer]
OnCalendar=Sun *-*-01..07 02:30:00
Persistent=true
RandomizedDelaySec=10m
Unit=pbs-protection-monthly-verify.service

[Install]
WantedBy=timers.target
